<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario de Anotación</title>
</head>
<body>
<h1>Agregar Registro de vida a [[${alumno.nombre}]] [[${alumno.apellidoPaterno}]]</h1>
<form th:action="@{${rol == 'ROLE_ADMIN' ? '/administrador/agregar-anotacion' : (rol == 'ROLE_PROFESOR' ? '/profesor/agregar-anotacion' : '')}}" method="post">
    <input type="hidden" name="id" th:value="${alumno.id}" />
    <input type="hidden" name="rol" th:value="${rol}" />
    <label for="anotacion">Anotación:</label>
    <input type="text" id="anotacion" name="texto" required /><br/>
    <button type="submit">Agregar</button>
</form>
</body>
</html>
