<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú del Apoderado</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        /* Añadir sombras personalizadas a los textos */
        .text-shadow {
            text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.5);
        }
    </style>
</head>
<body class="font-sans m-0 p-0">
<div class="flex h-screen">
    <!-- Menu izquierda -->
    <div class="w-64 bg-green-500 p-5 shadow-lg flex flex-col justify-between text-white">
        <div class="menu-buttons flex-grow">
            <h2 class="text-2xl font-bold text-shadow">Comunidad Educativa</h2>
            <h2 class="text-xl font-semibold mt-2 text-shadow">KimenFen</h2>
            <h3 class="text-lg font-medium mt-4 text-shadow">Menu Apoderado</h3>
            <button onclick="listarAlumno()" class="w-full py-2 px-4 my-2 bg-green-700 hover:bg-green-800 text-white text-lg text-shadow rounded">Listar Alumnos</button>
        </div>
        <button class="w-full py-2 px-4 bg-red-600 hover:bg-red-700 text-white text-lg mt-4 text-shadow rounded" onclick="logout()">Cerrar sesión</button>
    </div>

    <!-- Parte derecha -->
    <div class="flex-grow p-5" id="content">
        <div id="defecto" class="info">
            <h2 class="text-2xl font-bold text-gray-300"> Sistema KimenFen</h2>
            <h1 class="w-full  mb-4 text-gray-300">UCN todos los derechos reservados 2024@</h1>
        </div>
    </div>
</div>

<script>
    function cargarContenido(url) {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', url, true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                document.getElementById('content').innerHTML = xhr.responseText;
                agregarEventos();
            }
        };
        xhr.send();
    }

    function listarAlumno() {
        hiddenDefault();
        cargarContenido('/apoderado/alumnos');
    }

    function verAnotaciones(id) {
        cargarContenido('/apoderado/ver-anotaciones/' + id);
    }

    function agregarEventos() {
        document.querySelectorAll('.ver-registro').forEach(function(button) {
            button.addEventListener('click', function(event) {
                event.preventDefault();
                verAnotaciones(event.target.getAttribute('data-id'));
            });
        });
    }


    function hiddenDefault() {
        var defaultInfo = document.getElementById('defecto');
        if (defaultInfo) {
            defaultInfo.classList.add('hidden');
        }
    }

    function logout() {
        alert("Sesión cerrada");
        window.location.href = '/logout';
    }
</script>
</body>
</html>
