<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:cth="http://www.w3.org/1999/xhtml">
<head>
    <title>Asociar Alumno a Apoderado</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

</head>
<body>
<div class="w-full bg-yellow-700 p-5 flex flex-col justify-between text-yellow-400 rounded">
    <h1 class="text-2xl font-bold">Asociar Alumno a Apoderado</h1>
    <form th:action="@{/administrador/asociar-alumno}" method="post">
        <label class="text-xl" for="alumno">Alumno:</label>
        <select id="alumno" name="alumnoId" class="w-full rounded">
            <option class="py-2 px-4 min-h-50" th:each="alumno : ${alumnos}" th:value="${alumno.id}" th:text="${alumno.nombre} + ' ' + ${alumno.apellidoPaterno} + ' ' + ${alumno.apellidoMaterno}"></option>
        </select><br/>

        <label class="text-xl" for="apoderado">Apoderado:</label>
        <select id="apoderado" name="apoderadoId" class="w-full rounded">
            <option th:each="apoderado : ${apoderados}" th:value="${apoderado.id}" th:text="${apoderado.nombre} + ' ' + ${apoderado.apellido}"></option>
        </select><br/>

        <button class="py-2 px-4 my-2 bg-green-700 hover:bg-green-800 text-2xl rounded" type="submit">Asociar</button>
    </form>
    <a cth:href="@{/administrador/menu}" class="py-2 px-4 my-2 text-red-600 hover:text-red-700 underline text-2xl rounded cursor-pointer">Volver al Menú</a>
</div>


</body>
</html>