<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Anotación</title>
</head>
<body>
<h1>Editar Anotación</h1>
<form th:action="@{${rol == 'ROLE_ADMIN' ? '/administrador/editar-anotacion' : (rol == 'ROLE_PROFESOR' ? '/profesor/editar-anotacion' : '')}}" method="post">
    <input type="hidden" name="id" th:value="${anotacion.id}" />
    <label for="texto">Anotación:</label>
    <input type="text" id="texto" name="texto" th:value="${anotacion.texto}" required/><br/>
    <button type="submit">Actualizar</button>
</form>
</body>
</html>
