<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Apoderado</title>
</head>
<body>
<h1>Editar Apoderado</h1>
<form th:action="@{/administrador/apoderados/actualizar}" th:object="${apoderado}" method="post">
    <input type="hidden" th:field="*{id}" />
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" th:field="*{nombre}" /><br/>

    <label for="apellido">Apellido:</label>
    <input type="text" id="apellido" th:field="*{apellido}" /><br/>

    <label for="rut">RUT:</label>
    <input type="text" id="rut" th:field="*{rut}" /><br/>

    <label for="telefono">Teléfono:</label>
    <input type="text" id="telefono" th:field="*{telefono}" /><br/>

    <button type="submit">Actualizar</button>
</form>
</body>
</html>
