<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Alumnos</title>
</head>
<body>
<h1>Lista de Alumnos</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido Paterno</th>
        <th>Apellido Materno</th>
        <th>RUT</th>
        <th>Teléfono Apoderado</th>
        <th>Dirección</th>
        <th>Curso</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="alumno : ${alumnos}">
        <td th:text="${alumno.id}"></td>
        <td th:text="${alumno.nombre}"></td>
        <td th:text="${alumno.apellidoPaterno}"></td>
        <td th:text="${alumno.apellidoMaterno}"></td>
        <td th:text="${alumno.rut}"></td>
        <td th:text="${alumno.telefonoApoderado}"></td>
        <td th:text="${alumno.direccion}"></td>
        <td th:text="${alumno.curso}"></td>
        <td>
            <a th:if="${rol == 'administrador'}" th:href="@{/administrador/editar-alumno/{id}(id=${alumno.id})}">Editar</a>
            <a th:if="${rol == 'administrador'}" th:href="@{/administrador/eliminar-alumno/{id}(id=${alumno.id})}">Eliminar</a>
            <a th:if="${rol == 'administrador'}" th:href="@{/administrador/anotacion-alumno/{id}(id=${alumno.id})}">Agregar Registro de vida</a>
            <a th:if="${rol == 'administrador'}" th:href="@{/administrador/ver-anotaciones/{id}(id=${alumno.id})}">Ver Registro de vida</a>

            <a th:if="${rol == 'profesor'}" th:href="@{/profesor/anotacion-alumno/{id}(id=${alumno.id})}">Agregar Registro de vida</a>
            <a th:if="${rol == 'profesor'}" th:href="@{/profesor/ver-anotaciones/{id}(id=${alumno.id})}">Ver Resgistro de vida</a>

            <a th:if="${rol == 'apoderado'}" th:href="@{/apoderado/ver-anotaciones/{id}(id=${alumno.id})}">Ver Registro de vida</a>
        </td>
    </tr>
    </tbody>
</table>
<a th:if="${rol == 'administrador'}" th:href="@{/administrador/menu}">Volver al Menú</a>
<a th:if="${rol == 'profesor'}" th:href="@{/profesor/menu}">Volver al Menú</a>
<a th:if="${rol == 'apoderado'}" th:href="@{/apoderado/menu}">Volver al Menú</a>
</body>
</html>
