<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Alumnos</title>
</head>
<body>
<h1>Lista de Alumnos</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido Paterno</th>
        <th>Apellido Materno</th>
        <th>RUT</th>
        <th>Teléfono Apoderado</th>
        <th>Dirección</th>
        <th>Curso</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="alumno : ${alumnos}">
        <td th:text="${alumno.id}"></td>
        <td th:text="${alumno.nombre}"></td>
        <td th:text="${alumno.apellidoPaterno}"></td>
        <td th:text="${alumno.apellidoMaterno}"></td>
        <td th:text="${alumno.rut}"></td>
        <td th:text="${alumno.telefonoApoderado}"></td>
        <td th:text="${alumno.direccion}"></td>
        <td th:text="${alumno.curso}"></td>
        <td>
            <a th:if="${rol == 'ROLE_ADMIN'}" href="#" class="editar-alumno" th:attr="data-id=${alumno.id}">Editar</a>
            <a th:if="${rol == 'ROLE_ADMIN'}" th:href="@{/administrador/eliminar-alumno/{id}(id=${alumno.id})}">Eliminar</a>

            <th:block th:if="${rol == 'ROLE_ADMIN' or rol == 'ROLE_PROFESOR'}">
                <a th:switch="${rol}">
                    <a th:case="'ROLE_ADMIN'" href="#" class="agregar-registro" th:attr="data-id=${alumno.id}" data-rol="ROLE_ADMIN">Agregar Registro de vida</a>
                    <a th:case="'ROLE_PROFESOR'" href="#" class="agregar-registro" th:attr="data-id=${alumno.id}" data-rol="ROLE_PROFESOR">Agregar Registro de vida</a>
                </a>
            </th:block>

            <a th:if="${rol == 'ROLE_ADMIN' or rol == 'ROLE_PROFESOR' or rol == 'ROLE_APODERADO'}" href="#" class="ver-registro" th:attr="data-id=${alumno.id}">Ver Registro de vida</a>

            <th:block th:if="${rol == 'ROLE_ADMIN' or rol == 'ROLE_PROFESOR'}">
                <a th:switch="${rol}">
                    <a th:case="'ROLE_ADMIN'" href="#" class="agregar-nota" th:attr="data-id=${alumno.id}" data-rol="ROLE_ADMIN">Agregar Nota</a>
                    <a th:case="'ROLE_PROFESOR'" href="#" class="agregar-nota" th:attr="data-id=${alumno.id}" data-rol="ROLE_PROFESOR">Agregar Nota</a>
                </a>
            </th:block>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
