<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Profesores</title>
</head>
<body>
<h1>Lista de Profesores</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>RUT</th>
        <th>Teléfono</th>
    </tr>
    <tr th:each="profesor : ${profesores}">
        <td th:text="${profesor.id}"></td>
        <td th:text="${profesor.nombre}"></td>
        <td th:text="${profesor.apellido}"></td>
        <td th:text="${profesor.rut}"></td>
        <td th:text="${profesor.telefono}"></td>
    </tr>
</table>
<a th:href="@{/administrador/menu}">Volver al Menú</a>
</body>
</html>
