<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Alumnos</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
<div class="w-full bg-yellow-700 p-5 flex flex-col justify-between text-yellow-400 rounded">
    <h1 class="text-2xl font-bold">Lista de Alumnos</h1>
    <table>
        <thead>
        <tr>
            <th class="text-xl border border-black">ID</th>
            <th class="text-xl px-1 border border-black">Nombre</th>
            <th class="text-xl px-1 border border-black">Apellido Paterno</th>
            <th class="text-xl px-1 border border-black">Apellido Materno</th>
            <th class="text-xl px-1 border border-black">RUT</th>
            <th class="text-xl px-1 border border-black">Teléfono Apoderado</th>
            <th class="text-xl px-1 border border-black">Dirección</th>
            <th class="text-xl px-1 border border-black">Curso</th>
            <th class="text-xl px-1 border border-black">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr class="bg-white w-full border border-black" th:each="alumno : ${alumnos}">
            <td class="border border-black" th:text="${alumno.id}"></td>
            <td class="border border-black" th:text="${alumno.nombre}"></td>
            <td class="border border-black" th:text="${alumno.apellidoPaterno}"></td>
            <td class="border border-black" th:text="${alumno.apellidoMaterno}"></td>
            <td class="border border-black" th:text="${alumno.rut}"></td>
            <td class="border border-black" th:text="${alumno.telefonoApoderado}"></td>
            <td class="border border-black" th:text="${alumno.direccion}"></td>
            <td class="border border-black" th:text="${alumno.curso}"></td>
            <td class="bg-yellow-800 w-full">
                <a class="py-2 px-4 my-2 text-blue-300 hover:text-blue-600 underline rounded cursor-pointer px-1 ver-registro" th:attr="data-id=${alumno.id}">Ver Registro de vida</a>
                <a class="py-2 px-4 my-2 text-blue-300 hover:text-blue-600 underline rounded cursor-pointer px-1 ver-notas" th:attr="data-id=${alumno.id}">Ver Notas</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
