<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú del Administrador</title>
    <link rel="stylesheet" href="/css/style.css">
    <style>
        .palatal {
            display: flex;
        }
        .menu {
            width: 20%;
            background-color: #008CBA;
            padding: 10px;
            box-sizing: border-box;
        }
        .content {
            width: 80%;
            padding: 10px;
            box-sizing: border-box;
        }
        .info {
            display: none;
        }
        .info.active {
            display: block;
        }
    </style>
</head>
<body>
<div class="palatal">
    <div class="menu">
        <div class="menu-buttons">
            <h2>Comunidad Educativa</h2>
            <h2>KimenFen</h2>
            <h3>Menú Profesor</h3>
            <button onclick="listarAlumno()">Listar Alumnos</button>
        </div>
        <button class="logout" onclick="logout()">Cerrar sesión</button>
    </div>

    <div class="content" id="content">
        <div id="info1" class="info">
            <a th:href="@{/profesor/alumnos}">Ver Lista de Alumnos</a>
        </div>
    </div>
</div>
<script>
    function listarAlumno() {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/profesor/alumnos', true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                document.getElementById('content').innerHTML = xhr.responseText;
                eventoVerRegistroVida();
                eventoAgregarRegistroVida();
            }
        };
        xhr.send();
    }

    function agregarRegistroDeVida(id) {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/profesor/anotacion-alumno/' + id, true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                document.getElementById('content').innerHTML = xhr.responseText;
            }
        };
        xhr.send();
    }

    function verRegistroVida(id) {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/profesor/ver-anotaciones/' + id, true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                document.getElementById('content').innerHTML = xhr.responseText;
            }
        };
        xhr.send();
    }

    function eventoAgregarRegistroVida() {
        document.querySelectorAll('.agregar-registro-vida').forEach(function(button) {
            button.addEventListener('click', function(event) {
                event.preventDefault();
                agregarRegistroDeVida(event.target.getAttribute('data-id'));
            });
        });
    }

    function eventoVerRegistroVida() {
        document.querySelectorAll('.ver-registro-vida').forEach(function(button) {
            button.addEventListener('click', function(event) {
                event.preventDefault();
                verRegistroVida(event.target.getAttribute('data-id'));
            });
        });
    }

    window.onload = function() {
        listarAlumno();
    };

    function logout() {
        alert("Sesión cerrada");
        window.location.href = '/logout';
    }
</script>
</body>
</html>
