<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ver Anotaciones</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

</head>
<body>
<div class="w-full bg-yellow-700 p-5 flex flex-col justify-between text-yellow-400 rounded">
    <h1 class="text-2xl font-bold">Anotaciones de <span th:text="${alumno.nombre}"></span> <span th:text="${alumno.apellidoPaterno}"></span></h1>
    <ul>
        <li th:each="anotacion : ${anotaciones}">
            <span class="bg-white w-full border border-black" th:text="${anotacion.texto}"></span>
            <a class="text-blue-400 hover:text-blue-600 underline rounded cursor-pointer px-1" th:if="${rol == 'ROLE_ADMIN'}" th:href="@{/administrador/editar-anotacion/{id}(id=${anotacion.id})}">Editar</a>
            <a class="text-blue-400 hover:text-blue-600 underline rounded cursor-pointer px-1" th:if="${rol == 'ROLE_PROFESOR'}" th:href="@{/profesor/editar-anotacion/{id}(id=${anotacion.id})}">Editar</a>
            <a class="text-blue-400 hover:text-blue-600 underline rounded cursor-pointer px-1" th:if="${rol == 'ROLE_ADMIN'}" th:href="@{/administrador/eliminar-anotacion/{id}(id=${anotacion.id})}">Eliminar</a>
        </li>
    </ul>
</div>

</body>
</html>